#app { height: auto; }

#t_money { width: 100%; overflow: hidden; background: #fff; white-space: normal; word-break: break-all; }

#t_money .all_m { width: 90%; margin: 0 auto; padding: 18px 0 14px 0; }

#t_money .all_m .all_m_t { width: 100%; float: left; overflow: hidden; }

#t_money .all_m .all_m_t .all_m_l { width: 60%; font-size: 24px; display: block; float: left; }

#t_money .all_m .all_m_t .all_m_l .iconfont { font-size: 20px; display: inline-block; vertical-align: top; }

#t_money .all_m .all_m_t .all_m_r { width: 35%; display: block; font-size: 24px; float: right; text-align: right; color: #FF6633; }

#t_money .all_m .all_m_b { width: 100%; color: #B6B6B6; overflow: hidden; padding-bottom: 10px; border-bottom: 1px solid #EEEEEE; }

#t_money .other_m { width: 90%; margin: 0 auto; padding-bottom: 8px; overflow: hidden; position: relative; }

#t_money .other_m .other_l, #t_money .other_m .other_r { width: 50%; float: left; position: relative; }

#t_money .other_m .other_l .other_t, #t_money .other_m .other_r .other_t { font-size: 14px; color: #333333; }

#t_money .other_m .other_l .other_b, #t_money .other_m .other_r .other_b { color: #B6B6B6; font-size: 12px; }

#t_money .other_m .other_r { padding-left: 5%; width: 45%; }

#t_money .other_m .other_r .other_t { max-width: 65%; }

#t_money .other_m .other_r::before { content: ' '; width: 1px; height: 50%; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #eee; }

#t_money .other_m .other_num { max-width: 20%; color: #FF6633; position: absolute; right: 0; top: 0; }

#t_money .other_m .other_num_t { font-size: 12px; color: #B6B6B6; }

#banner { margin: 12px 0; clear: both; }

#banner .swiper-container { width: 100%; height: 90px; overflow: hidden; }

#banner .swiper-slide { width: 100%; height: 100%; }

#banner .swiper-container-horizontal > .swiper-pagination-bullets, #banner .swiper-pagination-custom, #banner .swiper-pagination-fraction { bottom: 0px; }

#banner .swiper-pagination-bullet-active { width: 15px; border-radius: 5px; }

#icon { background: #fff; padding: 13px 0; }

#icon .icon_m { width: 100%; margin: 0 auto; overflow: hidden; }

#icon .icon_m li { width: 20%; height: auto; float: left; text-align: center; font-size: 12px; color: #333; }

#icon .icon_m li img { width: 30px; height: 30px; margin: 0 auto; margin-bottom: 5px; }

#money_list { margin-top: 15px; background: #fff; clear: both; overflow: hidden; }

#money_list .m_title { width: 100%; font-size: 12px; color: #B6B6B6; border-bottom: 1px solid #eee; overflow: hidden; padding-top: 8px; }

#money_list .m_title li { width: 25%; float: left; word-break: break-all; text-align: center; }

#money_list .m_list { width: 100%; position: relative; padding-top: 10px; border-bottom: 5px solid #F2F2F2; clear: both; overflow: hidden; }

#money_list .m_list div { width: 23.5%; text-align: center; float: left; padding-bottom: 5px; }

#money_list .m_list div p { font-size: 14px; color: #333; word-break: break-all; }

#money_list .m_list div:nth-child(1) { width: 24.5%; margin-left: 5%; text-align: left; }

#money_list .m_list div:nth-child(1) i { width: 9px; height: 9px; display: inline-block; margin-right: .25rem; }

#money_list .m_list .m_list_bottom { background: #484866; width: 100%; clear: both; overflow: hidden; padding: 12px 0; border-bottom: 5px solid #eee; }

#money_list .m_list .m_list_bottom li { width: 25%; text-align: center; float: left; color: #fff; font-size: 14px; }

#money_list .m_list .m_list_bottom li img { width: 16px; height: auto; display: inline-block; vertical-align: middle; margin-top: -4px; }

#money_list .m_list .block_pink { background: #FFCCCC; }

#money_list .m_list .block_zi { background: #966EB4; }

#money_list .m_list .block_qin { background: #8DC7E0; }

#money_list .m_list .block_fen { background: #E08DA6; }

#money_list .m_list .block_ora { background: #FEBD60; }

#money_list .m_list .money_red p { color: #FF0000; }

#money_list .m_list .money_green p { color: #38A900; }

.money_pop .money_address { width: 70%; padding: 30px 0 15px 0; position: fixed; top: 40%; left: 50%; background: #fff; border-radius: 5px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.money_pop .money_address .pop_close { width: 23px; height: 23px; background: url(../image/guanbi.png) no-repeat; background-size: 100% 100%; position: absolute; left: 50%; top: -40px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.money_pop .money_address .address_box { width: 70%; padding: 20px; margin: 0 auto; position: relative; border: 1px solid  #8a8a8a; font-size: 12px; color: #8a8a8a; word-break: break-all; }

.money_pop .money_address .address_box .address_t { width: auto; white-space: nowrap; padding: 8px; position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 50%; top: -18px; background: #fff; color: #000; }

.money_pop .money_address .address_copy { width: 150px; height: auto; border-radius: 5px; padding: 8px 0; font-size: 14px; color: #fff; margin: 0 auto; margin-top: 23px; text-align: center; background: #798edd; }
