@import "style.scss";
.top {
    width: 100%;
    height: 5.8rem;
    background: $orange;
    color: $white;
    font-family: $fontType;
    letter-spacing: 0.026rem;
    //个人信息
    .personal_main {
        width: 100%;
        height: auto;
        padding-top: 0.6rem;
        overflow: hidden;
        //头像
        .personal_head_box {
            width: 2.506rem;
            height: 100%;
            .personal_head {
                width: 1.866rem;
                height: 1.866rem;
                box-sizing: border-box;
                border-radius: 50%;
                border: 0.08rem solid #ffbf8c;
                background: $white;
                overflow: hidden;
                float: right;
            }
        }
        //名字等级签到
        .personal_msg_box {
            margin-left: .3rem;
            // 名字
            .personal_name_box {
                width: 100%;
                height: 0.72rem;
                .personal_name {
                    font-size: 0.56rem;
                }
                .grade_v {
                    width: auto;
                    padding: 0 .15rem;
                    height: 0.506rem;
                    background: #fecb00;
                    border-radius: 0.213rem;
                    text-align: center;
                    line-height: 0.506rem;
                    margin: 0 .3rem;
                    margin-top: .18rem;
                    i {
                        font-size: 0.293rem;
                        display: inline-block;
                        vertical-align: top;
                    }
                    #grade_num {
                        font-size: 0.24rem;
                        display: inline-block;
                        margin-top: .05rem;
                    }
                }
                .grade_medal {
                    margin-top: .05rem;
                    img {
                        width: 0.44rem;
                        height: 0.666rem;
                    }
                }
            }
            //等级
            .personal_grade_box {
                height: 0.506rem;
                line-height: 0.506rem;
                margin-top: .3rem;
                letter-spacing: 0.013rem;
                overflow: hidden;
                //经验条
                .personal_grade_bar {
                    width: 2.666rem;
                    height: 0.106rem;
                    background: #fff;
                    margin-top: .2rem;
                    .personal_grade_bar_num {
                        width: 10%;
                        height: 100%;
                        background: #fecb00;
                        transition: width ease-in 1s;
                    }
                }
                //经验值
                .personal_grade_value {
                    margin-left: .3rem;
                    font-size: 0.293rem;
                    #max {
                        margin-right: .3rem;
                    }
                    #grade_next {}
                }
            }
            //签到
            .personal_sign_box {
                padding: .2rem 0;
                width: auto;
                height: 1.333rem;
                .personal_sign_click {
                    width: auto;
                    height: 100%;
                    text-align: center;
                    position: relative;
                    i {
                        font-size: 1.3rem;
                        @include center;
                        z-index: 1;
                    }
                    #click_sign {
                        width: 1.8rem;
                        height: 0.426rem;
                        font-size: 0.213rem;
                        line-height: 0.426rem;
                        margin-top: .9rem;
                        position: relative;
                        z-index: 2;
                        color: $orange;
                        background: $white;
                        border-radius: 0.186rem;
                        letter-spacing: 0.013rem;
                    }
                }
                .personal_sign_msg {
                    margin-top: .2rem;
                    margin-left: .2rem;
                    line-height: 0.573rem;
         font-size: 0.346rem;

                }
            }
        }
    }
    //积分
    .integral_main{
        width: 100%;height:1rem;
        margin-top: 0.266rem;
        font-size: 0.373rem;
        overflow: hidden;
        i{display: block;font-size: 1rem;}
        .integral_box{font-size: 0.32rem;line-height: 0.48rem;}
        .integral_num{
            width: 49.5%;
            height: 100%;
            i{margin-right: .2rem;}
            div{margin-right: 1rem;}
        }
        .integral_line{
            width: 0.5%;
            height: 100%;
            background: #fa8c5c;
        }
        .integral_msg{
            width: 49.5%;
            height: 100%;
            i{margin-left: 1rem;}
            div{margin-left: .2rem;}
        }
    }
}

.bottom{
    width: 100%;
    background: $gray;
    padding-top: 0.266rem;
    font-family: $fontType;
    .personal_list{
        @include list;
        li{
            height:1.413rem; 
            line-height: 1.413rem;
            font-size: 0.4rem;
            color: $gray3;
            i{margin-right: 0.346rem;font-size:0.4rem;}
            .ri{margin-right: 0.666rem;color: $gray2;}
        }
    }
}

#round{
    width:1.76rem;
    height: 1.76rem;
    background: url(../../personal/img/round.png) no-repeat;
    @include bsz;
    position: fixed;
    z-index: 10;
    text-align: center;
    line-height: 1.76rem;
    color: $white;
    font-family: $fontType;
    font-size: 0.48rem;
    right: 0;
    bottom: 10%;
    #round_msg{
        padding:0.01rem  0.15rem;
        line-height: .5rem;
        background: #fa0909;
        text-align: center;
        font-size: 0.18rem;
        letter-spacing: 0.013rem;
        border-radius:50%;
        position: absolute;
        top: 0;
        right: .1rem;
    }
}

.wrap{
    overflow-y:scroll;
}
//积分记录
.integral_msg_wrap{
    background: $gray;
    letter-spacing: 0.013rem;
    #integral_msg_main{
        font-family: $fontType;
        background: $gray;
        font-size:0.453rem ;
        color: $gray3;
        .title{
            padding: 0.213rem 0;
            text-indent: 0.613rem;
            
        }
        .integral_msg_list{
            @include list;
            overflow: hidden;
             li{
                padding: 0.4rem 0;
                font-size: 0.4rem;
                .integral_msg_left{
                    max-width: 50%;
                    margin-left: 0.613rem;
                    margin-right: .5rem;
                    p:last-child{margin-top: .2rem;}
                    .integral_msg_day{
                        margin-right: .5rem;
                    }
                }
                .integral_msg_right{
                    margin-right: .5rem;
                    margin-top: .2rem;
                }
             }
             
            li:last-child{border: none;}
            
        }
    }
}