@import "style.scss";

.search_wrap{
    background: $gray;
    font-family: $fontType;
    letter-spacing: 1px;
    overflow-y: scroll;
    .title{
        @include usualH;
        position: relative;
        margin-top:0.266rem;
        margin-bottom: 0.066rem;
        .line{
            @include center;
            width:0.5%;
            height: 60%;
            background: $gray;
        }
        .mature,.all,.other{
            width: 33.3%;
            height: 100%;
            text-align: center;
            font-size:0.373rem ;
            color: $gray3;
            position: relative;
            .sort_box{
              @include sortBox;
            }
        }
       
     }
     .title2{
        @include usualH;
        position: relative;
        margin-bottom: 0.066rem;
        font-size: 0.4rem;
        font-weight: bold;
        color: $orange;
        text-indent: 0.506rem;
        i{
            font-size: 0.4rem;
        }
     }
     .safe_list{
         @include list;
         overflow: hidden;
         font-size: 0.4rem;
         .safe_list_title{
             width: 95%;
             height: auto;
             overflow: hidden;
             span{
                 width: 33%;
                 display: block;
                 text-align: center;
                 line-height: 0.8rem;
                 color: #000;
                 float: left;
             }
         }
         li{
            padding: .4rem 0;
             span{
                 width: 33%;
                 display: block;
                 text-align: center;
                 color: $gray3;
                 float: left;
             }
             span:nth-child(2){
                 color: $orange;
             }
         }
     }
}

//详情
.detail_wrap{
    background: $gray;
    font-family: $fontType;
    letter-spacing: 1px;
    overflow-y: scroll;
    .list_box{
        @include list;
        margin-bottom: 0.133rem;
        overflow: hidden;
        &:first-child{
         margin-top: 0.266rem;
        }
        .title{
            @include usualH;
            font-weight: bold;
            color: $orange;
            font-size: 0.4rem;
            text-indent: 0.4rem;
         }
         li{
             padding: .4rem;
             span{
                 max-width: 50%;
                 color: $gray3;
                 font-size: 0.4rem;
                 float: left;
                &:last-child{
                    float: right;
                    color: $orange;
                }
                i{font-size: .4rem;}
             }
             
         }
    }
    .list_box2{
        li{
            span:last-child{
                color: $gray3;
            }
        }
        li.title2 span{
            color: #000;
        }
    }
   
}
