@import "style.scss";
.wrap{
    font-family: $fontType;
    background: $gray;
    .banner{
        width: 100%;
        height: 4.666rem;
        overflow: hidden;
    }
    //列表通用
    .list{
        width: 100%;
        height: auto;
        overflow: hidden;
        li{
            padding: 0.4rem;
            overflow: hidden;
            .li_box{
                float: left;
                .shop_img{
                    width: 2.466rem;
                    height: 2.466rem;
                    margin-right: .2rem;
                }
                .shop_text{
                    width: 6.24rem;
                    height: auto;
                    font-size: 0.32rem;
                    color: $gray2;
                    letter-spacing: 0.013rem;
                    position: relative;
                    .shop_title{
                        font-size:0.346rem ;
                        color: #000;
                    }
                    .shop_num{
                        margin: .2rem 0;
                        .shop_integral{
                            color: $orange;
                             margin-right: .2rem;
                        }
                        .shop_save{
                            
                        }
                    }
                    .shop_button{
                     
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        
    }
}
//商城首页
.shop_wrap{
   
    .integral_box{
        width: 100%;height: 2.213rem;
        background: $white;
        margin: 0.08rem auto;
        position: relative;
        .integral_box_le,.integral_box_ri{
        width: 33.3%;
        height: 100%;
        text-align: center;
        font-size: 0.4rem;
        position: relative;
        p{ 
               color: $gray3;
              a{ color: $gray3;}
               i{
                  display: inline-block;
                  margin: .3rem auto;
                  font-size: 0.666rem;  
                  color: $orange;
                }
                span{
                  color: $orange;
                }
             }
        }
    }
    
    .sort_wrap{
        @include usualH;
        position: relative;
        margin-bottom: 0.08rem;
        line-height: normal;
        .line{
            @include center;
            width:0.5%;
            left: 33%;
            height: 60%;
            background: red;
            &:nth-child(2){
                left: 66%;
            }
        }
        .change,.heightSlow,.type{
            width: 40%;
            height: 100%;
            text-align: center;
            font-size:0.373rem ;
            color: $gray3;
            position: relative;
            .sort_box{
              @include sortBox;
            }
        }
        .change,.type{
             width: 30%;
        }
        .sort_type {}
        .type{
            .dropdown{
                @include dropdown;
                width: 90%;
                display:none;
                &::before{
                    left: 45%;
                }
            }
        }
       
     }
     
    .list{
        li{
            width: 100%;
            background:$white;
            margin-top:0.08rem;
            .change_button{
                        width:1.626rem ;
                        height: 0.906rem;
                        background: $orange;
                        @include shadow;
                        border-radius: $Bradius;
                        color: $white;
                        text-align: center;
                        line-height: 0.906rem;
                        font-size: 0.4rem;
            }
        }
    } 
    .pop{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        @include center;
        position: fixed;
        display: none;
        z-index: 10;
        .rule_pop{
            @include center;
            position: fixed;
            width: 6rem;
            height: auto;
            padding: .3rem;
            background: #fff;
            border-radius: 0.133rem;
            display: none;
            .icon-guanbi{
                font-size: 1.066rem;
                color: #fff;
                display: inline;
                position: absolute;
                left: 95%;
                top: -20%;
            }
            .rule_title{
                font-size: 0.4rem;
                color: $orange;
                text-align: center;
                margin-bottom: .2rem;
            }
            p{
                font-size: 0.32rem;
                padding: .1rem 0;
                color: $gray3;
                text-align: left;
            }
            #rule_sure{
                text-align: center;
                color: $orange;
                font-size: .32rem;
                padding: .2rem;
            }
        }
    }
}

//兑换记录
.intergal_wrap{
    .title{
        line-height:0.933rem;
        font-size: 0.453rem;
        color: #000;
        text-indent: 0.613rem;
        background: $gray;
    }
    .list {
        background:$white ;
        li{
            width: 90%;
            float: right;
            padding-left:0 ; 
            border-bottom: 0.026rem solid #f2f2f2;
            &:last-child{
                border-bottom: none;
            }
            .intergal_num{
                font-size: 0.373rem;
                color: $orange;
            }
        }
    }
}

//商品详情 兑换
.detail_wrap{
    
    color: #000;
    .detail_title{
        width: 100%;
        padding: 0.533rem 0 0.266rem 0.2rem;
        background: $white;
        overflow: hidden;
        .detail_title_left{
            width: 7.333rem;
            font-size: 0.4rem;
            .detail_title_num{
                height: 0.666rem;
                font-size:0.32rem ;
                margin-top: .2rem;
                color: $gray2;
                overflow: hidden;
                line-height: 0.666rem;
                p{
                 letter-spacing:0.013rem;
                    .detail_title_save{
                        margin-right:.5rem ;
                    }
                }
                //input
                .detail_title_input{
                    width:2.133rem ;
                    height:0.666rem;
                    input,div{
                        width: 33.3%;
                        float: left;
                        height: 100%;
                        background: $gray1;
                        color: $gray3;
                        text-align: center;
                        line-height:0.666rem;
                        font-size: 0.8rem;
                    }
                    #ShopNum{
                        font-size: 0.4rem;
                    }
                }
            }
        }
        .detail_title_right{
            padding:0 0.5rem;
            font-size: 0.5rem;
            color: $orange;
            position: relative;
            text-align: center;
            border-left: 0.026rem solid $gray;
            p:last-child{color: #000;font-size: 0.32rem;}
            
        }
    }
    
    .detail_bottom{
        width: 100%;
        padding:0.266rem;
        margin-top: 0.16rem;
        background: $white;
         .detail_bottom_title{
            @include usualH;
            font-weight: bold;
            color: $orange;
            font-size: 0.4rem;
            text-indent: 0.4rem;
         }
         .detail_bottom_text{
             width: 80%;
             font-size: 0.346rem;
             letter-spacing: 0.013rem;
             margin: 0 auto;
             p{
                 margin-bottom: .1rem;
             }
             img{
                 width: 100%;
                 height: auto;
             }
         }
         #change_button{
             width: 7.706rem;
            height: 1.133rem;
            color: $white;
            text-align: center;
            line-height: 1.133rem;
            font-size: 0.453rem;
            letter-spacing: 0.026rem;
            border-radius: $Bradius;
            margin: 1rem auto;
            margin-bottom: .5rem;
         }
         .change_button_true{
               background: $orange;
                @include shadow;
         }
         .change_button_false{
               background: $gray2;
               box-shadow: 0 0 0.053rem 0.026rem $gray;
         }
    } 
    
    .pop{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 110;
        background: rgba(0,0,0,.6);
        display: none;
        .close{
            font-size: 0.88rem;
            color: #fff;
            position: absolute;
            right: -0.533rem;
            top: -1.453rem;
        }
        .sure_change{
            width: 6.6rem;
            height: auto;
            @include center;
            position: fixed;
            border-radius: 0.133rem;
            display: none;
            .banner2{
                height: 4rem !important;
                border-radius: 0.133rem;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                overflow: hidden;
            }
            .sure_text{
                width: 86%;
                background: $white;
                margin: 0 auto;
                padding:0 7% ;
                font-size: 0.32rem;
                text-align: center;
                letter-spacing: 0.026rem;
                overflow: hidden;
                border-bottom-left-radius:0.133rem;
                border-bottom-right-radius: 0.133rem;
                 p{
                    margin: .2rem 0;
                    line-height: 0.533rem;
                    &:nth-child(2){
                        color: $orange;
                        font-weight: bold;
                    }
                     #sure_ShopNum{
                        color: $gray2;
                        margin-left: .2rem;
                    }
                  }
                  
                .suer_button{
                    width: 85%;
                    margin:0.333rem auto;
                    height: 1rem;
                    line-height: 1rem;
                    color: $gray2;
                    font-size: 0.4rem;
                    div.ri{
                        width: 2.24rem;
                        height: 100%;
                        background: $orange;
                        color: $white;
                        border-radius: $Bradius;
                        @include shadow;
                        text-align: center;
                       font-weight: bold;
                    }
                    div.le{
                        width: auto;
                        text-decoration: underline;
                        color: $gray3;
                    }
                 }
            }
          
           
        }    
    }
    
}
