html, body, #app { height: auto; background: #F6F6FE; -webkit-overflow-scrolling: touch; }

#chat_m { width: 100%; overflow: hidden; }

#chat_m #chat_list { width: 100%; margin: 0 auto; overflow: hidden; position: relative; padding-top: 25px; padding-bottom: 70px; }

#chat_m #chat_list .chat_time { width: 100%; height: auto; clear: both; float: left; text-align: center; font-size: 12px; color: #a5a5a5; margin-bottom: 15px; }

#chat_m #chat_list li:last-child { margin-bottom: 0; }

#chat_m #chat_list li { width: 100%; padding: 0 5%; height: auto; clear: both; float: left; position: relative; margin-bottom: 30px; word-break: break-all; }

#chat_m #chat_list li .chat_name { width: 20%; text-align: center; font-size: 12px; color: #484866; position: absolute; left: 0; top: 100%; z-index: 1; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#chat_m #chat_list li .chat_names { color: #0FCF92; left: 1%; }

#chat_m #chat_list li .le { position: absolute; left: 5%; bottom: 0px; width: 38px; height: 38px; border-radius: 50%; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#chat_m #chat_list li .le img { width: 100%; height: 100%; }

#chat_m #chat_list li .ri { max-width: 70%; min-height: 40px; float: left; font-size: 14px; color: #333333; margin-left: 43px; background: #ffffff; padding: 10px  15px; border-radius: 20px; border-bottom-left-radius: 0px; position: relative; line-height: 20px; letter-spacing: 1px; overflow: hidden; -webkit-box-shadow: 0 0 10px 4px #EDF0FC; box-shadow: 0 0 10px 4px #EDF0FC; }

#chat_m #chat_list li .ri .emotion { display: inline-block; width: 28px; height: 28px; vertical-align: middle; }

#chat_m #chat_list li .redpack { width: 200px; height: auto; padding: 0; }

#chat_m #chat_list li .redpack .redt { padding: 10px; overflow: hidden; background: #FFCC8F; }

#chat_m #chat_list li .redpack .redt .redt_l { width: 34px; height: 42px; float: left; }

#chat_m #chat_list li .redpack .redt .redt_r { padding-left: 40px; }

#chat_m #chat_list li .redpack .redt .redt_r p { color: #fff; font-size: 12px; }

#chat_m #chat_list li .redpack .redt .redt_r p:first-child { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#chat_m #chat_list li .redpack .redb { font-size: 12px; color: #b3b3b3; text-indent: 15px; background: #fff; }

#chat_m #chat_list li .redpack .newpack { background: #FF9F2E; }

#chat_m #chat_list li .voice_ri { min-height: auto; padding-bottom: 5px; }

#chat_m #chat_list li .voice_ri .voice_list { width: auto; height: 24px; overflow: hidden; float: left; position: relative; }

#chat_m #chat_list li .voice_ri .voice_list i { width: .18rem; height: 100%; background: #9aafff; border-radius: 25%; margin-right: 0.115rem; display: inline-block; float: left; }

#chat_m #chat_list li .voice_ri .voice_list .activei { background: #538AD3; }

#chat_m #chat_list li .voice_ri .voice_list .i0 { height: 8px; margin-top: 16px; }

#chat_m #chat_list li .voice_ri .voice_list .i1 { height: 11px; margin-top: 13px; }

#chat_m #chat_list li .voice_ri .voice_list .i2 { height: 14px; margin-top: 10px; }

#chat_m #chat_list li .voice_ri .voice_list .i3, #chat_m #chat_list li .voice_ri .voice_list .i9 { height: 12px; margin-top: 12px; }

#chat_m #chat_list li .voice_ri .voice_list .i4, #chat_m #chat_list li .voice_ri .voice_list .i8 { height: 16px; margin-top: 8px; }

#chat_m #chat_list li .voice_ri .voice_list .i5, #chat_m #chat_list li .voice_ri .voice_list .i7 { height: 19px; margin-top: 5px; }

#chat_m #chat_list li .voice_ri .voice_list .i10, #chat_m #chat_list li .voice_ri .voice_list .i16 { height: 7px; margin-top: 17px; }

#chat_m #chat_list li .voice_ri .voice_list .i11, #chat_m #chat_list li .voice_ri .voice_list .i15 { height: 12px; margin-top: 12px; }

#chat_m #chat_list li .voice_ri .voice_list .i12, #chat_m #chat_list li .voice_ri .voice_list .i14 { height: 14px; margin-top: 10px; }

#chat_m #chat_list li .voice_ri .voice_list .i13 { height: 16px; margin-top: 8px; }

#chat_m #chat_list li .voice_ri .voice_list .i17 { height: 5px; margin-top: 19px; }

#chat_m #chat_list li .voice_ri .voicetime { font-size: 14px; padding-left: 3px; line-height: 35px; }

#chat_m #chat_list .self .chat_name, #chat_m #chat_list .self .chat_names, #chat_m #chat_list .self .le { left: initial; right: 5%; }

#chat_m #chat_list .self .chat_name, #chat_m #chat_list .self .chat_names { right: 0; }

#chat_m #chat_list .self .ri { float: right; margin-right: 43px; border-bottom-left-radius: 20px; border-bottom-right-radius: 0px; color: #fff; background: #798EDD; }

#chat_m #chat_list .self .ri .redb { text-align: right; padding-right: 15px; }

#chat_m #chat_list .self .voice_list i { background: #fff !important; }

#chat_m #chat_list .self .voice_list .activei { background: #9aafff !important; }

#chat_m .msgload { width: 100%; height: 20px; line-height: 20px; position: absolute; left: 0; top: 0; text-align: center; }

#chat_m .msgload .aui-icon-recovery { display: inline-block; -webkit-animation: rotate 1s linear infinite; animation: rotate 1s linear infinite; }

@-webkit-keyframes rotate { form { -webkit-transform: rotate(0);
    transform: rotate(0); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate { form { -webkit-transform: rotate(0);
    transform: rotate(0); }
  to { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
