* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	/*letter-spacing: 1px;*/
	
}
.le{float: left;}
.ri{float: right;}
i,span{font-size: inherit;font-style: normal;}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}

@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot');
	src: url('iconfont.eot?#iefix') format('embedded-opentype'),
	url('iconfont.woff') format('woff'),
	url('iconfont.ttf') format('truetype'),
	url('iconfont.svg#iconfont') format('svg');
  }

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	width: 100%;
	height: 100%;
	position: relative;
	 max-width: 1024px;
	 margin: 0 auto;
}

[v-cloak] {
	display: none;
}

.aui-bar-nav .aui-title {
	font-size: 18px;
}

body .aui-bar-nav,
body header {
	background: #434343 ;
	color: #fff; 
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
			background-image: none !important;
	/* background: linear-gradient(to right,#77bcf3,#339af1); */
}
body  header a .iconfont{
	color: #fff;
 }

.aui-bar-nav .aui-pull-right {
	font-size: 14px !important;
}
.aui-bar-nav .aui-pull-right:active{
	color: #ffffff;
}

.aui-chat .aui-chat-left .aui-chat-content {
	background: #FFFFFF !important;
	text-align: left;
	line-height: 20px;
	height: auto
}

.aui-chat .aui-chat-right .aui-chat-content {
	background: #b3e5fc !important;
	text-align:left;
	text-overflow: inherit;
	line-height: 20px;
	height: auto
}

.aui-chat .aui-chat-content {
	min-width: 60px;
}

.aui-chat .aui-chat-left .aui-chat-status {
	color: #9A9A9A;
}

.aui-dot {
	right: 7% !important;
}

.tl {
	text-align: left !important;
}


.pop{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position:absolute;
    left: 0;
    top:0;
	z-index: 1000;
}
.btnbottom{
			width: 90%;
			padding: 13px 0;
			background: #484866;
			color: #fff;
			border-radius: 5px;
			font-size: 16px;
			text-align: center;
			clear: both;
			margin: 20px auto;
}

/* 弹出选择窗 */
#choose_m{
	width: 70%;
	height: auto;
	padding-top: 40px;
	padding-bottom: 46px;
	background: #fff;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
 #choose_img{
	width: 50px;
	height: auto;
	position: absolute;
	left: 50%;
	top: -40px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#choose_t{
	text-align: center;
	font-size: 14px;
	color: #484866;
}
#choose_l{
	width: 85%;
	height: 180px;
	overflow: auto;
	margin: 0 auto;
}
#choose_l li{
	width: 100%;
	color: #333;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
	padding: 5px 0;
	overflow: hidden;
}
#choose_l li:last-child{
	border: none;
}
#choose_l li input{
	float: left;
}
.choose_btn{
	width: 100%;
	height:46px ;
	position: absolute;
	bottom: 0;
	left: 0;
}
.choose_btn div{
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-top: 1px solid #eeeeee;
	color: #b2b2b2;
	font-size: 16px;
	text-align: center;
	line-height: 46px;
	float: left;
}
.choose_btn div:last-child{
	background: #798EDD;
	color: #fff;
}
#choose_l input{
 -webkit-appearance: none;
 display: none;
}
#choose_l label{ 
	width: 100%;
}
#choose_l input[type="radio"] + label::after {
 content: "\a0"; /*不换行空格*/
 display: inline-block;
 width: 12px;
 height:12px;
 border-radius: 50%;
 border: 1px solid #ababab;
 text-indent: .15em;
 line-height: 1; 
 padding: .3em;
 margin-top: 6px;
 float:right;
 -webkit-box-sizing:initial;
         box-sizing:initial;
}

#choose_l input[type="radio"]:checked + label::after{
 background-color: #484866;
 background-clip: content-box;
 padding: .3em;
}