.warp{
	width:10rem;
	margin:  0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: none;
}
#loading{
	width: 0.72rem;
	height: 0.826666rem;
	display: block;
	margin: 150px auto;
}
.warp img{
	width: 100%;
	height: 100%;
}
/*首页背景*/
.index_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}
/*首页标题------------主体*/
.index_title{
	width: 7.76rem;
	height: 5.066666rem;
	position: absolute;
	left: 50%;
	top: 0.8rem;
	transform: translateX(-50%);
	z-index: 1;
}
.title_bg {
	position: absolute;
	z-index: 1;
}
/*財妹*/
.girl{
	width:2.666666rem;
	height:5.8rem;
	top: .1rem;
	right: -3.5rem;
	position: absolute;
	transform: rotateZ(-14deg);
	z-index: 2;
	transition: right 1s linear;
	-webkit-transition: right 1s linear;
	/*animation: goes ease-in-out 2s infinite alternate;*/
	/*transform-origin: center bottom;*/ 
	/*-webkit-transform-origin: center bottom;*/ 
}

/*@keyframes goes{
	from{transform: rotateZ(-14deg);}
	to{transform: rotateZ(4deg);}
}*/

/*红旗*/
.red{
	width: 0.826666rem;
	height: 1.093333rem;
	position: absolute;
	top: -.1rem;
	left: 1.733333rem;
	display: none;
}

/*客户节*/
.user_day{
	width:2.96rem ;
	height:1.24rem ;
	position: absolute;
	bottom:-.6rem;
	left:2.8rem;
	display: none;
}
/*光*/
.sun{
	width:8.266666rem;
	height: 5.12rem;
	position: absolute;
}

/*线路图------------主体*/
.wire{
	width: 8rem;
	height: 9.266666rem;
	position: absolute;
	left: 50%;
	top: 4.506666rem;
	transform: translateX(-50%);
	
}

.wire_bg{
	position: absolute;
	top:0rem;
	
}

/*--游戏规则按钮--*/
.rule{
	width:3.733333rem ;
	height:1.493333rem ;
	position: absolute;
	top: 0em;
	right: 0rem;	
}
/*--排行榜按钮--*/
.list{
	width:3.733333rem ;
	height:1.493333rem ;
	position: absolute;
	top: 9.373333rem;
	right: -0.4rem

}
/*--开始游戏按钮--*/
.begin{
	width:6.093333rem ;
	height:2.533333rem;
	position: absolute;
	top:4.266666rem ;
	left: 1.2rem;
	animation: scales 1s linear infinite alternate;
}
/*--领取10万礼包按钮--*/
.ten{
	width:7.2rem ;
	height:1.413333rem ;
	position: absolute;
	bottom:-1.413333rem  ;
	left:0.666666rem;
	display: none;
}
/*中奖纪录按钮*/
.gift_message_b{
	width:3.733333rem ;
	height:1.493333rem ;
	position: absolute;
	top: 9.373333rem;
	left: -0.4rem;	
}
/*弹层*/
.pop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 9;
	display: none;
}
/*公用关闭按钮*/
.close{
	width:1.013333rem;
	height:1.013333rem;
	background: url(../img/close.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right:.8rem ;
	top:0.4rem ;
	z-index: 1;
}

/*中奖纪录页面*/
.gift_message{
	width:9.56rem;
	height: 10.426666rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
.gift_message_bg{
	position: absolute;
}
/*每层信息盒子*/
.message_box{
	width: 7.946666rem;
	height: 7.12rem;
	border: 0.106666rem solid #2e2e2e;
	border-radius: 0.106666rem;
	box-sizing: border-box;
	background: #fff;
	overflow-x: scroll;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 2.32rem;
}
/*每层信息*/
.message_box_list{
	width: 100%;
	height: auto;
	margin-top: .2rem;
	font-size: 0.32rem;
	color: #ff6ca7;
	text-align: left;
	text-indent: .2rem;
	line-height: .6rem;
	clear: both;
}
.message_box_list p{
	width: auto;
	float: left;
}
.message_box_list a{
	display: block;
	text-indent: 0;
	width: 1rem;
	height: 100%;
	box-sizing: border-box;
	border: 0.026666rem solid #2e2e2e;
	border-radius:0.093333rem;
	background: #ff6ca7;
	color: #fff;
	font-size: .2rem;
	float: left;
	text-align: center;
	margin-left: .1rem;
}
@keyframes scales{
	from{transform: scale(.95);}
	to{transform: scale(1.05);}
}