/*新闻导航*/
.new_nav{height:3.4rem;width: 100%;}
.new_nav .left li{float: left;font-size: 0.8rem;color: #2d313d;line-height: 3.4rem;margin-right: 1.25rem;}
/*标题定位*/
.title_nav{margin-top: 1.3rem }
.title_nav img{float: left;margin: 0 0.65rem;}
.title_nav a{float: left;font-size: 0.6rem;color: #838281;}
.title_nav .sanjao{margin-top: 0.25rem;}

/*新闻主体*/
.new_main{width: 100%;height: auto;border-top: 1px solid #eaeaeb;}

/*新闻主体左边*/
.new_main .new_left{width: 41.65rem;height: auto;margin-bottom: 3.15rem;}
.new_left h3{width: 25.75rem;height: 2.65rem;border-bottom: 1px solid #eaeaeb;line-height: 2.65rem;font-size: 1rem;color: #2d313d;margin: 0 auto;text-align: center;}
.new_date{display: block;margin: 0 auto;font-size:0.6rem ;color: #abacaf;text-align: center;margin-top: 1rem;margin-bottom: 0.8rem;}
.new_left p{font-size: 0.6rem;color: #2d313d;text-indent: 1rem;line-height: 1rem;margin-top: 1.4rem;}
.new_left_bottom{color: #abacaf;font-size: .7rem;margin: 2.35rem 0 0 0;}

/*新闻主体右边*/
.new_right{width: 18.25rem;height:auto;border-left: 0.05rem solid #f8f8f8;}
.new_right .title{float: left; margin:1.7rem  0 1.9rem  4.05rem ;}
.new_right .title h3{font-size:0.8rem;color: #2d313d;float: left;}
.new_right .title h3 span{color: #fb565c;margin: 0 1rem 0 0.25rem ;}
.new_right .title h3 img{float:right;margin-top: 0.4rem;}

/*图片滚动区域*/
.picture_warp{width:16.35rem;height:29.6rem;margin: 0 auto;overflow:hidden;}
.new_right_picture{width:16.35rem;height:29.6rem;margin: 0 auto;}
.new_right_picture li{width: 100%;height: 9.5rem;margin-bottom: 0.55rem;position: relative;overflow: hidden;}

.new_right_picture img{width: 100%;height:100%;}
.gary_picture{width: 100%;height: 100%;background: rgba(45,49,61, .7);position:absolute;top: 0;left: 0;text-align: center;opacity: 0;}
.gary_picture a{font-size: 0.8rem;color: #fff;line-height: 1.4rem;margin-top: 3rem;}
.gary_picture span{display:block ;height: auto;margin-top:1.25rem;}
.gary_picture span a{margin-top: 0 ;}
.gary_picture span a:last-child{margin-left: 1rem;}

.new_right_button{width: 100%;height: auto;margin-top: 2rem;padding-left: 7.5rem;}
.new_right_button span{display: inline-block;float: left;margin-right: 2.3rem;cursor: pointer;}


