
/*主体下方*/

/*交易&档案*/
.main_bottom{}
.main_bottom .file{width: 23.05rem;height: 18.5rem;margin: 0 auto;margin-top: 2.5rem;margin-bottom: 11.5rem;}

.file_text{width: 21.05rem;height: auto;}
.file_text p{width: 100%; margin-top: 1.45rem;clear: both;float: left;font-size: 0.7rem;color: #2d313d;}
.file_text p span{float: right;}
.file_text .p1{font-size:0.8rem ;font-weight: bold;}
.file_text .p1 span{color: #fb565c;margin-right: 1.5rem;float: none;}
/*表单*/
.file_text form{width: 100%; margin-top: 1rem;clear: both;float: left;font-size: 0.7rem;color: #2d313d;}
.file_text form input {border: 1px solid #fb565c;box-sizing: border-box;height: 1.2rem;text-indent: .4rem;}
.file_text form span{margin-right: 0.6rem;}
.file_text form .phone{margin-left: 1.7rem;}
.file_text form textarea{text-indent: .4rem;margin: 18px 0; border: 1px solid #fb565c;float: right;width:19rem;height: 3.05rem;box-sizing: border-box;resize: none;}
.file_text form .textarea_span{display: block;float: left;margin-top: 1rem;}
.file_text form div{width: 100%;height: auto;clear: both;float: left;}
.file_text form .div3{width: 100%; margin-left: -.7rem;}
.file_text form .test{width: 4.55rem;}
.file_text form .div3 .submits{width: 6rem;color: #fff; float: right;border: none;background: #fb565c;text-align: center;line-height: 1.2rem;cursor: pointer;margin-right: -.7rem;}
