/*新闻导航*/
.new_nav{height:3.4rem;width: 100%;}
.new_nav .left li{float: left;font-size: 0.8rem;color: #2d313d;line-height: 3.4rem;margin-right: 1.25rem;}
/*标题定位*/
.title_nav{margin-top: 1.3rem }
.title_nav img{float: left;margin: 0 0.65rem;}
.title_nav a{float: left;font-size: 0.6rem;color: #838281;}
.title_nav .sanjao{margin-top: 0.25rem;}

/*新闻主体*/
.new_main{width: 100%;height: auto;border-top: 1px solid #eaeaeb;}

/*新闻主体左边*/
.new_main .new_left{width: 41.65rem;height: auto;margin-bottom: 3.15rem;}
.new_left_inner{width:40rem;float: left;height: auto;padding-left: 0.35rem;}
.new_left_inner li{width: 100%;height: 2.5rem;border-bottom: 1px solid #eaeaeb;float: left;position: relative;overflow: hidden;}
.new_left_inner .public_first{height: 5.95rem;}
 /*li里面的主体*/
.public_first_main{width: 100%; height: 3.4rem;margin-top: 1.25rem;}
 /*左边日期*/
.public_first_main .date{width: 4.75rem;height: 100%;text-align: center;color: #2d313d;font-size: 0.8rem;letter-spacing: 0.1rem;margin-right: 1.1rem;}
.date b{font-weight: normal;margin-top: 0.25rem;display: inline-block;}
.date .date_number{display: block;float: left;height: 2.1rem;width: 100%;text-align: center;border-bottom: 1px dashed #eaeaeb;font-size: 2rem;color: #fb565c;line-height:1.6rem;}
 /*右边标题和文字*/
.public_first_main .right_titel{width: 34rem;height: 100%;}
.right_titel p span{color: #2d313d;cursor: pointer;}
.right_titel p{font-size: 0.7rem;color: #abacaf;letter-spacing: 0.1rem;line-height:1.2rem;}
 /*缩小的标题列表*/
.li_title{height: auto;margin-top:.8rem;font-size: 0.7rem;color: #2d313d;padding-left: 0.4rem;cursor: pointer;}
.li_title span{margin-right:1.4rem ;}

/*上一页下一页*/
.page{height:auto;width: 100%;overflow: hidden;}
.page_go{width:27.2rem;height: auto;margin: 0 auto;margin-top: 2rem;}
.page_go li{width: 0.85rem;height: 0.85rem;box-sizing: border-box;float: left;margin-right: 1.85rem;text-align: center;font-size: 0.6rem;color: #cfd0d1;line-height: .85rem;cursor: pointer;}

.page_go .number_page{border: 1px solid #c0c1c4;}
.page_go .click_page{background: #fb565c;padding-top: 0.05rem;height: 0.8rem;}



 /*新闻主体右边*/
.new_right{width: 18.25rem;height:auto;border-left: 0.05rem solid #f8f8f8;}
.new_right .title{float: left; margin:1.7rem  0 1.9rem  4.05rem ;}
.new_right .title h3{font-size:0.8rem;color: #2d313d;float: left;}
.new_right .title h3 span{color: #fb565c;margin: 0 1rem 0 0.25rem ;}
.new_right .title h3 img{float:right;margin-top: 0.4rem;}

/*图片滚动区域*/
.picture_warp{width:16.35rem;height:29.6rem;margin: 0 auto;overflow:hidden;}
.new_right_picture{width:16.35rem;height:29.6rem;margin: 0 auto;}
.new_right_picture li{width: 100%;height: 9.5rem;margin-bottom: 0.55rem;position: relative;overflow: hidden;}

.new_right_picture img{width: 100%;height:100%;}
.gary_picture{width: 100%;height: 100%;background: rgba(45,49,61, .7);position:absolute;top: 0;left: 0;text-align: center;opacity: 0;}
.gary_picture a{font-size: 0.8rem;color: #fff;line-height: 1.4rem;margin-top: 3rem;}
.gary_picture span{display:block ;height: auto;margin-top:1.25rem;}
.gary_picture span a{margin-top: 0 ;}
.gary_picture span a:last-child{margin-left: 1rem;}

.new_right_button{width: 100%;height: auto;margin-top: 2rem;padding-left: 7.5rem;}
.new_right_button span{display: inline-block;float: left;margin-right: 2.3rem;cursor: pointer;}


