.warp{
	width:10rem;
	margin:  0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: none;
}
#loading{
	width: 0.72rem;
	height: 0.826666rem;
	display: block;
	margin: 150px auto;
}

.warp img{
	width: 100%;
	height: 100%;
}
/*首页背景*/
.index_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}
/*活动规则按钮*/
.rule{
	width: 2.973333rem;
	height: 1rem;
	position: absolute;
	right: 0;
	top: 0;
}
/*首页标题------------主体*/
.index_title{
	width: 7.76rem;
	height: 5.066666rem;
	position: absolute;
	left: 50%;
	top: 0.6rem;
	transform: translateX(-50%);
	z-index: 1;
}
.title_bg {
	position: absolute;
	z-index: 1;
}
/*財妹*/
.girl{
	width:1.44rem;
	height:3.133333rem;
	top: .4rem;
	right: .9rem;
	position: absolute;
	transform: rotateZ(37deg);
	animation: goes ease-in-out 2s infinite alternate;
	transform-origin: center bottom; 
}

@keyframes goes{
	from{transform: rotateZ(37deg);}
	to{transform: rotateZ(15deg);}
}


/*红旗*/
.red{
	width: 0.826666rem;
	height: 1.093333rem;
	position: absolute;
	top:-.1rem;
	left: 1.733333rem;
	display:none;
}


/*光*/
.sun{
	width:8.266666rem;
	height: 5.12rem;
	position: absolute;
}


/*大转盘 按钮  滚动栏固定底部 */
.main{
	width: 100%;
	height: 11.16rem;
	position: absolute;
	left: 0;
	bottom: 0;
}
/*大转盘*/
.dial_main{
	width:8.613333rem ;
	height:7.493333rem ;
	position: absolute;
	top:0rem;
	left: 50%;
	transform: translateX(-50%);
	
}

/*大转盘背景*/
.dial_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*开始按钮*/
.dial_begin{
	width:2.266666rem;
	height:2.64rem;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left:-1.133333rem ;
	margin-top:-1.32rem ;
	z-index: 1;
	transform-origin: 50% 57%;
}


.dial_begin img{
	width:100%;
	height: 100%;
}

/*继续挑战按钮*/
.continue{
	width:3.546666rem ;
	height:1.653333rem ;
	position: absolute;
	left:.2rem;
	top:8rem ;
}

/*中奖纪录按钮*/
.gift_message_b{
	width:3.546666rem ;
	height:1.653333rem ;
	position: absolute;
	right: .2rem;
	top:8rem ;
}
/*滚动栏信息主体*/
.scroll_main{
	width: 100%;
	height: 1.466666rem;
	position: absolute;
	left: 0;	
	bottom: 0;
	background: #fcff30;
	border-top: 0.053333rem solid #2e2e2e ;
	box-sizing: border-box;
	font-size: 0.373333rem;
	color: #2e2e2e;
	overflow: hidden;
	padding: 0 .2rem;
}
.overflow{
	height: 1.3rem;
	margin-top: .1rem;
	overflow: hidden;
}

.scroll_main li{
	width: 95%;
	padding-left: 5%;
	height: 0.4rem;
	text-align: left;
	line-height: .4rem;
	padding-top: .2rem;
}



/*弹层*/
.pop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 9;
	display: none;
}
/*公用关闭按钮*/
.close{
	width:1.013333rem;
	height:1.013333rem;
	background: url(../img/close.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right:.8rem ;
	top:0.4rem ;
	z-index: 1;
}
.no_chance{
	width:9.573333rem;
	height: 11.026666rem;
	position: absolute;
	top: 2.533333rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	display: none;
}


/*中奖纪录页面*/
.gift_message{
	width:9.56rem;
	height: 10.426666rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: none;
}
.gift_message_bg{
	position: absolute;
}
/*每层信息盒子*/
.message_box{
	width: 7.946666rem;
	height: 7.12rem;
	border: 0.106666rem solid #2e2e2e;
	border-radius: 0.106666rem;
	box-sizing: border-box;
	background: #fff;
	overflow-x: scroll;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 2.32rem;
}
/*每层信息*/
.message_box_list{
	width: 100%;
	height: auto;
	margin-top: .2rem;
	font-size: 0.32rem;
	color: #ff6ca7;
	text-align: left;
	text-indent: .2rem;
	line-height: .6rem;
	clear: both;
}
.message_box_list p{
	width: auto;
	float: left;
}
.message_box_list a{
	display: block;
	text-indent: 0;
	width: 1rem;
	height: 100%;
	box-sizing: border-box;
	border: 0.026666rem solid #2e2e2e;
	border-radius:0.093333rem;
	background: #ff6ca7;
	color: #fff;
	font-size: .2rem;
	float: left;
	text-align: center;
	margin-left: .1rem;
}

/*------------中奖页面-------------*/
.yes_gift{
	width: 9.52rem;
	height:10.373333rem;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-mos-transform: translate(-50%,-50%);
	display: none;
}
.yes_main .yes_bg{
	position: absolute;
}
/*标题*/
.yes_gift_title{
	width: 100%;
	height: 0.64rem;
	text-align: center;
	position: absolute;
	top:2.2rem;
	left: 0;
}
body .yes_gift_title .yes_gift_title_bgd{
	width: auto;
	position: none;
}
/*领奖按钮*/
.lingjiang{
	width: 4.866666rem;
	height: 1.84rem;
	text-align: center;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
/*.旅游保险显示*/
.safe_main{
	width:85% ;
	height:3.5rem;
	position: absolute;
	top: 5.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	font-size:0.48rem ;
	color: #f31f74;
	text-align: left;
	text-indent: .3rem;
	/*display: none;*/
}
/*其他奖品中奖提示*/
.other_main{
	width:85% ;
	height:3.5rem;
	position: absolute;
	top: 5.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	font-size:0.48rem ;
	color: #f31f74;
	text-align: center;
	text-indent: .3rem;
	display: none;
}

/*--------------没中奖页面--------------*/
.no_gift{
	width: 9.52rem;
	height:10.373333rem;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: none;
}
