@font-face {
	font-family:"hanyi";/*汉仪菱心体*/
	src: url(../font/hanyi1.ttf);
	font-weight: lighter;
}
@font-face {
	font-family:"zhanku";/*站酷字体*/
	src: url(../font/zhanku.ttf);
}
@font-face {
	font-family:"number";/*汉仪菱心体*/
	src: url(../font/hanyinumber.ttf);
}

.warp img{
	width: 100%;
	height: 100%;
}

/*人保logo*/
.logo{
	position: absolute;
	width:1.773333rem ;
	height:1rem ;
	left: 0.293333rem;
	top: 0;
	
}

/*加载页开始*/
.loading_warp{
	width: 100%;
	height: 100%;
	background: url(../images/img/loading_bg.jpg) no-repeat ;
	background-size: 100% 100%;
	position: relative;
	/*display: none;*/
}


/*加载主体*/
.loading_main{
	width: 8.853333rem;
	height: 2.986666rem;
	top: 6.4rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}
.loading_main_bg{
	position: absolute;
	z-index: 2;	
}
/*财妹*/
.people{
	width: 1.426666rem;
	height:3.066666rem;
	position: absolute;
	right: 0.6rem;
	top: -.986666rem;
	z-index: 0;
	animation: loading 2s ease-in-out infinite alternate;
	 -webkit-animation: loading 2s ease-in-out infinite  alternate;
	 transform-origin:bottom;
	
}
.people img{
	position: absolute;
	z-index: 0;
	
}
/*棒*/
.good{
	position: absolute;
	width: 0.826666rem;
	height: 0.826666rem;
	right:-0.266666rem;
	top: -1.5rem;
	
}
@-webkit-keyframes loading {
    from{
     -webkit-transform: rotateZ(-8deg);
    -moz-transform: rotateZ(-8deg);
    -ms-transform: rotateZ(-8deg);
    -o-transform: rotateZ(-8deg);
        transform: rotateZ(-8deg);
    }
    to{
     -webkit-transform: rotateZ(8deg);
    -moz-transform: rotateZ(8deg);
    -ms-transform: rotateZ(8deg);
    -o-transform: rotateZ(8deg);
        transform: rotateZ(8deg);
    }
}

@keyframes loading {
     from{
     -webkit-transform: rotateZ(-6deg);
    -moz-transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -o-transform: rotateZ(-6deg);
        transform: rotateZ(-6deg);
    }
    to{
     -webkit-transform: rotateZ(12deg);
    -moz-transform: rotateZ(12deg);
    -ms-transform: rotateZ(12deg);
    -o-transform: rotateZ(12deg);
        transform: rotateZ(12deg);
    }
}


/*进度条*/
.loading_line_box{
	width:8.24rem ;
	height:0.626666rem ;
	position: absolute;
	bottom: 0.853333rem;
	left: 0.306666rem;
	z-index: 10;
	
}
/*进度   橙色线条*/
.loading_line {
	width:5%;
	height: 100%;
	float: left;
	border-radius: 0.133333rem;
	overflow: hidden;
}
/*进度   圆*/
.loading_round {
	width:1rem;
	height: 1.013333rem;
	position: absolute;
	left: 0%;
	 top: 50%;
	 transform: translateY(-50%);
}

/*百分比进度盒子*/
.loading_blue{
	width: 1.746666rem;
	height: 0.933333rem;
	background: url(../images/img/baifenbi.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 10;
	left: 3%;
	bottom: -0.4rem;
	text-align: center;
	line-height:0.933333rem;
	font-size: 0.55rem;
	color: #fff;	
}

/*阴影*/
.loading_shadow{
	position: absolute;
	bottom:-0.76rem;
	width:8.906666rem ;
	height:0.613333rem ;
}



/* -----------------------------华丽的分割线---------------------------------- */


/*首页开始*/
.index_warp{
	width:100% ;
	height:100% ;
	background: url(../images/img/index_bg2.jpg) no-repeat;
	background-size: 100% 100%;
	display: none;
}

/*黑板*/
.black_text{
	width: 7.866666rem;
	height: 2.8rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-90%);
	top: 50%;
	font-family:"zhanku";
	text-align: center;
	color: #fff;
	z-index: 10;
}
.black_text i{
	display: none;
	display: inline-block;
	
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
}
.black_text .p1{
	font-size:1.2rem;
	margin-bottom: 0.4rem;
}
.black_text .p2{
	font-size:0.666666rem;
	
	width: 90%;
	margin: 0 auto;
}
.black_text .p2 i{
	width: 10%;
	height: auto;
	float: left;
	text-align: center;
}
/*粉笔*/
.fenbi{
	width:1.133333rem ;
	height:0.48rem ;
	position: absolute;
	top:4rem;
	left:1.466666rem;
	z-index: 10;
	animation: fenbi 3s linear  ;
	-webikit-animation: fenbi 3s linear  ;
}
@keyframes fenbi{
			20%{transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg) ;}
			40%{transform:translate(2rem,-1rem)  rotateZ(30deg) rotateY(40deg) ;}
			60%{transform:translate(4rem,-4.5rem)  rotateZ(30deg) rotateY(40deg) ;}
			80%{transform:translate(6rem,-1rem) rotateZ(30deg) rotateY(40deg) ;}
			100%{transform:translate(0rem,0rem) }
		}
@-webkit-keyframes loadaaing {
	
			20%{
				-webkit-transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg) 
				-moz-transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg);
				-ms-transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg);
				-o-transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg);
				transform:translate(0,-4.5rem) rotateZ(30deg) rotateY(40deg); 
				;}
			40%{transform:translate(2rem,-1rem)  rotateZ(30deg) rotateY(40deg) ;}
			60%{transform:translate(4rem,-4.5rem)  rotateZ(30deg) rotateY(40deg) ;}
			80%{transform:translate(6rem,-1rem) rotateZ(30deg) rotateY(40deg) ;}
			100%{transform:translate(0rem,0rem) }
   
}		

/*按钮层*/
.button_box{
	width: 8rem;
	height: 3.266666rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1.546666rem;
}
.button_box button{
	width:3.666666rem ;
	height: 1.2rem;
	float: left;
	margin-right: 0.64rem;
	margin-bottom: 0.853333rem;
}
.button_box button:nth-child(2n){
	margin-right: 0rem;
}
.button_box button:nth-child(3){
	margin-bottom: 0rem;
}
.button_box button:nth-child(4){
	margin-bottom: 0rem;
}
/*<!--点击开始-->*/
.button_begin{
	animation: scales 1s linear infinite alternate;
	-webkit-animation: scales 1s linear infinite alternate;
}
.button_begin:active{
	animation: none ;
}

@keyframes scales {
     from{
   -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
        transform: scale(.95);
    }
    to{
     -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
        transform: scale(1.05);
    }
}
/*<!--我的奖品-->*/
/*<!--我的证书-->*/
/*<!--游戏规则-->*/


/*剩余可玩次数*/
.game_number{
	width:100% ;
	height:auto;
	position: absolute;
	bottom: 0.573333rem;
	text-align: center;
	font-size: 0.373333rem;
	font-family: "微软雅黑";
}
.game_number span{
	font-size:0.8rem ;
	color: #e53c0d;
	display: inline-block;
	transform: translateY(0.1rem);
	font-family: "hanyi";
}

/*             首页弹窗      3个             我的奖品   点击开始达到次数   游戏规则          */
.index_pop_up{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12;
	display: none;
}

/* 关闭按钮  */
.index_close{
	width: 0.56rem;
	height: 0.56rem;
	position: absolute;
	cursor: pointer;	
}

/*       我的奖品   弹窗      */
.my_gift_main{
	width: 8rem;
	height: 6.213333rem;
	position: absolute;
	top: 2.906666rem;
	color: #E53C0D;
	display: none;
	font-family: "hanyi";
}
/*我的奖品  关闭按钮*/
.my_gift_main .index_close{
	right: 0;
	bottom: 100%;
}

/*奖品背景*/
.gift_bg{
	position: absolute;
	left: 0;
	top: 0;
}

/*           已经获得奖品弹窗                        */

.my_gift_yes{
	display: none;
}
/*标题*/
.my_gift_yes h3{
	text-align: center;
	margin-top:1.413333rem ;
	font-size: 0.666666rem;
	margin-bottom: 0.72rem;
}

/*奖品时间*/
.my_gift_yes_main{
	width: 100%;
	height: auto;
	
}

.my_gift_yes_main li{
	width: 50%;
	height: auto;
	text-align: center;
	float: left;
}
/*奖品名称时间名称*/
.my_gift_yes_main p{
	font-size: 0.346666rem;
	color: #593213;
	margin-bottom: 0.4rem;
}
/*奖品和时间内容*/
.my_gift_yes_text {
	font-size:0.373333rem;
	margin-bottom: 0.133333rem;
}


/*                 没有获得奖品弹窗                                             */
.my_gift_no{
	font-size:0.64rem ;
	text-align: center;
	line-height:  6.213333rem;
	display: none;
}


/*		    点击开始达到次数  弹窗			*/
.game_over{
	width: 9.226666rem;
	height: 5.906666rem;
	position: absolute;
	top: 3.56rem;
	display: none;
}
.game_over img{
	position: absolute;
	left: 0;
	top: 0;
}

/* 关闭按钮       */
.game_over .index_close{
	top:0.6rem;
	right: 0.666666rem;
}

/*       点击游戏规则                */
.game_rule{
	width: 9.226666rem;
	height: 15.386666rem;
	position: absolute;
	top: 0.133333rem;
	z-index: 99;
	display: none;
}
.game_rule img{
	position: absolute;
	left: 0;
	top: 0;
}
.game_rule .index_close{
	top:0.6rem;
	right: 0.666666rem;
}


/*3个弹窗居中*/
.my_gift_main,.game_over,.game_rule{
	left: 50%;
	transform: translateX(-50%);
	
}


/*                            点击我的证书      弹窗                                                                                       */
.my_book{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
	transform: scale(0);
	transition:transform .5s linear;
}
.my_book .my_score_bg{
	position: absolute;
	left: 0;
	top: 0;
}

/*我的分数*/
.my_score_round{
	width:4.253333rem ;
	height: 4.4rem;
	position: absolute;
	top: 5.813333rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	text-align: center;
	font-family: "number";
	background: url(../images/img/my_score_round.png) no-repeat;
	background-size: 100% 100%;
	line-height:4.4rem ;
	color: #fff;
	
}

/*晒晒成绩单按钮*/
.sun_score{
	width:4.4rem ;
	height:0.84rem;
	position: absolute;
	bottom:3.2rem;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
/*返回*/
.go_back{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom:2.2rem;
	text-align: center;
	font-size: 0.5rem;
	color: #e43c0d;
	font-family: "微软雅黑";
}

/*分享弹窗*/
.share_box{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	display: none;
}
.share_main{
	width: 7.946666rem;
	height:11.466666rem ;
	position: absolute;
	right: 0;
	top: 0.373333rem;
}
/*关闭按钮*/
.share_close{
	width:0.56rem;
	height:0.56rem;
	position: absolute;
	right:1.84rem;
	top: 4.933333rem;
	
}





/* ---------------------------------------------华丽的分割线--------------------------------------------------- */

/*游戏开始*/

.game_begin_warp{
	width: 100%;
	
	
	display: none;
	position: relative;
}
#game_bg{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}	


/*题目*/	
.game_title{
	width: 3.493333rem;
	height:1.04rem ;
	background:url(../images/img/title.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0.853333rem;
	left: 50%;
	transform: translate(-50%);
	font-size: 0.8rem;
	line-height: 1.04rem;
	text-align: center;
	color: #fff;
	margin-bottom: 0.133333rem;
	font-family: "hanyi";
	font-weight: lighter;
}

/*问题文字*/		
.game_question{
	width: 100%;
	height:1.333333rem;
	text-align: center;
	font-size: 0.4rem;
	color: #484848;
	font-family: "Adobe 黑体 Std R","黑体";
	letter-spacing: -1px;
	position: absolute;
	top:2.04rem ;
}

/*中间图片*/
.game_picture{
	width: 5.24rem;
	height: 5.24rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top:3.8rem;
}	
/*ABCD选项*/
.game_abcd{
	width: 8.933333rem;
	height: 2.72rem;
	position: absolute;
	top: 9.573333rem;
	left: 50%;
	transform: translate(-50%);
}		
.game_abcd button{
	width: 4.16rem;
	height: 0.986666rem;
	float: left;
	margin-right: 0.613333rem;
	margin-bottom: 0.746666rem;
	text-align: center;
}		
.game_abcd button:nth-child(2n){
	margin-right:0rem;
}
.game_abcd button:nth-child(3){
	margin-bottom:0rem;
}	
.game_abcd button:nth-child(4){
	margin-bottom:0rem;
}	
/*选项的文字图片*/
.text_pictures{
	width: 2.773333rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	
	
}


/*下一题按钮*/
.next_button{
	width:3.493333rem ;
	height: 1.426666rem;	
	display: block;
	position: absolute;
	top: 12.733333rem;
	left: 50%;
	transform: translate(-50%);
}		


/*进度条*/
.game_loading{
	width: 8.24rem;
	height:0.64rem ;
	background: url(../images/img/loading2.png) no-repeat;
	background-size: 100% 100%;
	border-radius:0.133333rem;
	position: absolute;
	left: 50%;
	top: 14.666666rem;
	transform: translateX(-50%);
	bottom:0.586666rem ;
	border: 0.04rem solid #c21616;
	text-align: center;
	line-height:0.72rem;
	
}
/*进度条主体*/
.game_loading_main{
	position: absolute;
	width: 10%;
	height: 100%;
	border-radius:0.093333rem ;
	left: 0;
	top: 0;
	background: #e53c0d;
}

/*时间*/
.times{
	position: absolute;
	top: -0.733333rem;
	left: 0.186666rem;
	font-size:0.506666rem ;
	color: #e53c0d;
}
/*文字进度*/
.loading_texts{
	color: #fff;
	font-size: 0.373333rem;
	position: relative;
	z-index: 10;
}

/*财妹*/
.game_loading_people{
	width:1.36rem ;
	height:1.546666rem ;
	position: absolute;
	bottom: 100%;
	right: 0;
	
}



/*游戏结束*/





































