@charset "UTF-8";
.top { width: 100%; height: 5.8rem; background: #ff5c00; color: #fff; font-family: "微软雅黑"; letter-spacing: 0.026rem; }
.top .personal_main { width: 100%; height: auto; padding-top: 0.6rem; overflow: hidden; }
.top .personal_main .personal_head_box { width: 2.506rem; height: 100%; }
.top .personal_main .personal_head_box .personal_head { width: 1.866rem; height: 1.866rem; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; border: 0.08rem solid #ffbf8c; background: #fff; overflow: hidden; float: right; }
.top .personal_main .personal_msg_box { margin-left: .3rem; }
.top .personal_main .personal_msg_box .personal_name_box { width: 100%; height: 0.72rem; }
.top .personal_main .personal_msg_box .personal_name_box .personal_name { font-size: 0.56rem; }
.top .personal_main .personal_msg_box .personal_name_box .grade_v { width: auto; padding: 0 .15rem; height: 0.506rem; background: #fecb00; border-radius: 0.213rem; text-align: center; line-height: 0.506rem; margin: 0 .3rem; margin-top: .18rem; }
.top .personal_main .personal_msg_box .personal_name_box .grade_v i { font-size: 0.293rem; display: inline-block; vertical-align: top; }
.top .personal_main .personal_msg_box .personal_name_box .grade_v #grade_num { font-size: 0.24rem; display: inline-block; margin-top: .05rem; }
.top .personal_main .personal_msg_box .personal_name_box .grade_medal { margin-top: .05rem; }
.top .personal_main .personal_msg_box .personal_name_box .grade_medal img { width: 0.44rem; height: 0.666rem; }
.top .personal_main .personal_msg_box .personal_grade_box { height: 0.506rem; line-height: 0.506rem; margin-top: .3rem; letter-spacing: 0.013rem; overflow: hidden; }
.top .personal_main .personal_msg_box .personal_grade_box .personal_grade_bar { width: 2.666rem; height: 0.106rem; background: #fff; margin-top: .2rem; }
.top .personal_main .personal_msg_box .personal_grade_box .personal_grade_bar .personal_grade_bar_num { width: 10%; height: 100%; background: #fecb00; -webkit-transition: width ease-in 1s; transition: width ease-in 1s; }
.top .personal_main .personal_msg_box .personal_grade_box .personal_grade_value { margin-left: .3rem; font-size: 0.293rem; }
.top .personal_main .personal_msg_box .personal_grade_box .personal_grade_value #max { margin-right: .3rem; }
.top .personal_main .personal_msg_box .personal_sign_box { padding: .2rem 0; width: auto; height: 1.333rem; }
.top .personal_main .personal_msg_box .personal_sign_box .personal_sign_click { width: auto; height: 100%; text-align: center; position: relative; }
.top .personal_main .personal_msg_box .personal_sign_box .personal_sign_click i { font-size: 1.3rem; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }
.top .personal_main .personal_msg_box .personal_sign_box .personal_sign_click #click_sign { width: 1.8rem; height: 0.426rem; font-size: 0.213rem; line-height: 0.426rem; margin-top: .9rem; position: relative; z-index: 2; color: #ff5c00; background: #fff; border-radius: 0.186rem; letter-spacing: 0.013rem; }
.top .personal_main .personal_msg_box .personal_sign_box .personal_sign_msg { margin-top: .2rem; margin-left: .2rem; line-height: 0.573rem; font-size: 0.346rem; }
.top .integral_main { width: 100%; height: 1rem; margin-top: 0.266rem; font-size: 0.373rem; overflow: hidden; }
.top .integral_main i { display: block; font-size: 1rem; }
.top .integral_main .integral_box { font-size: 0.32rem; line-height: 0.48rem; }
.top .integral_main .integral_num { width: 49.5%; height: 100%; }
.top .integral_main .integral_num i { margin-right: .2rem; }
.top .integral_main .integral_num div { margin-right: 1rem; }
.top .integral_main .integral_line { width: 0.5%; height: 100%; background: #fa8c5c; }
.top .integral_main .integral_msg { width: 49.5%; height: 100%; }
.top .integral_main .integral_msg i { margin-left: 1rem; }
.top .integral_main .integral_msg div { margin-left: .2rem; }

.bottom { width: 100%; background: #f4f5f7; padding-top: 0.266rem; font-family: "微软雅黑"; }
.bottom .personal_list { background: #fff; }
.bottom .personal_list li { width: 95%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0.026rem solid #f2f2f2; float: right; overflow: hidden; }
.bottom .personal_list li { height: 1.413rem; line-height: 1.413rem; font-size: 0.4rem; color: #595959; }
.bottom .personal_list li i { margin-right: 0.346rem; font-size: 0.4rem; }
.bottom .personal_list li .ri { margin-right: 0.666rem; color: #b3b3b3; }

#round { width: 1.76rem; height: 1.76rem; background: url(../../personal/img/round.png) no-repeat; background-size: 100% 100%; position: fixed; z-index: 10; text-align: center; line-height: 1.76rem; color: #fff; font-family: "微软雅黑"; font-size: 0.48rem; right: 0; bottom: 10%; }
#round #round_msg { padding: 0.01rem  0.15rem; line-height: .5rem; background: #fa0909; text-align: center; font-size: 0.18rem; letter-spacing: 0.013rem; border-radius: 50%; position: absolute; top: 0; right: .1rem; }

.wrap { overflow-y: scroll; }

.integral_msg_wrap { background: #f4f5f7; letter-spacing: 0.013rem; }
.integral_msg_wrap #integral_msg_main { font-family: "微软雅黑"; background: #f4f5f7; font-size: 0.453rem; color: #595959; }
.integral_msg_wrap #integral_msg_main .title { padding: 0.213rem 0; text-indent: 0.613rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list { background: #fff; overflow: hidden; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li { width: 95%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0.026rem solid #f2f2f2; float: right; overflow: hidden; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li { padding: 0.4rem 0; font-size: 0.4rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li .integral_msg_left { max-width: 50%; margin-left: 0.613rem; margin-right: .5rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li .integral_msg_left p:last-child { margin-top: .2rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li .integral_msg_left .integral_msg_day { margin-right: .5rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li .integral_msg_right { margin-right: .5rem; margin-top: .2rem; }
.integral_msg_wrap #integral_msg_main .integral_msg_list li:last-child { border: none; }

/*# sourceMappingURL=personal.css.map */