@charset "UTF-8";
.iconfont { font-size: inherit; }

.sortOrange { color: #ff5c00; }

.sortGray { color: #595959; }

.lineL:before, .lineR:after { content: ""; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 100%; width: 0.5%; height: 60%; background: #f4f5f7; }

.lineR:before { left: 0; }

.search_wrap { background: #f4f5f7; font-family: "微软雅黑"; letter-spacing: 1px; overflow-y: scroll; }
.search_wrap .title { height: 1.146rem; background: #fff; line-height: 1.146rem; position: relative; margin-top: 0.266rem; margin-bottom: 0.066rem; }
.search_wrap .title .line { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 0.5%; height: 60%; background: #f4f5f7; }
.search_wrap .title .mature, .search_wrap .title .all, .search_wrap .title .other { width: 33.3%; height: 100%; text-align: center; font-size: 0.373rem; color: #595959; position: relative; }
.search_wrap .title .mature .sort_box, .search_wrap .title .all .sort_box, .search_wrap .title .other .sort_box { float: left; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: relative; padding-right: .4rem; }
.search_wrap .title .mature .sort_box .sort_icon, .search_wrap .title .all .sort_box .sort_icon, .search_wrap .title .other .sort_box .sort_icon { line-height: normal; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 94%; width: 0.4rem; }
.search_wrap .title .mature .sort_box .sort_icon i, .search_wrap .title .all .sort_box .sort_icon i, .search_wrap .title .other .sort_box .sort_icon i { display: block; font-size: 0.24rem; }
.search_wrap .title2 { height: 1.146rem; background: #fff; line-height: 1.146rem; position: relative; margin-bottom: 0.066rem; font-size: 0.4rem; font-weight: bold; color: #ff5c00; text-indent: 0.506rem; }
.search_wrap .title2 i { font-size: 0.4rem; }
.search_wrap .safe_list { background: #fff; overflow: hidden; font-size: 0.4rem; }
.search_wrap .safe_list li { width: 95%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0.026rem solid #f2f2f2; float: right; overflow: hidden; }
.search_wrap .safe_list .safe_list_title { width: 95%; height: auto; overflow: hidden; }
.search_wrap .safe_list .safe_list_title span { width: 33%; display: block; text-align: center; line-height: 0.8rem; color: #000; float: left; }
.search_wrap .safe_list li { padding: .4rem 0; }
.search_wrap .safe_list li span { width: 33%; display: block; text-align: center; color: #595959; float: left; }
.search_wrap .safe_list li span:nth-child(2) { color: #ff5c00; }

.detail_wrap { background: #f4f5f7; font-family: "微软雅黑"; letter-spacing: 1px; overflow-y: scroll; }
.detail_wrap .list_box { background: #fff; margin-bottom: 0.133rem; overflow: hidden; }
.detail_wrap .list_box li { width: 95%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0.026rem solid #f2f2f2; float: right; overflow: hidden; }
.detail_wrap .list_box:first-child { margin-top: 0.266rem; }
.detail_wrap .list_box .title { height: 1.146rem; background: #fff; line-height: 1.146rem; font-weight: bold; color: #ff5c00; font-size: 0.4rem; text-indent: 0.4rem; }
.detail_wrap .list_box li { padding: .4rem; }
.detail_wrap .list_box li span { max-width: 50%; color: #595959; font-size: 0.4rem; float: left; }
.detail_wrap .list_box li span:last-child { float: right; color: #ff5c00; }
.detail_wrap .list_box li span i { font-size: .4rem; }
.detail_wrap .list_box2 li span:last-child { color: #595959; }
.detail_wrap .list_box2 li.title2 span { color: #000; }

/*# sourceMappingURL=safeSearch.css.map */