
body,html{
	background: #f6f6f6;
	font-family: "微软雅黑";
}
.index_wrap,.game_wrap{
	height:100%;
	background: url(../img/index_bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	position: relative;
}
.game_wrap{
	background: url(../img/game_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
		.wrap img,.pop img{
			width: 100%;
			height: 100%;
		}

/*------------------------------------首页------------------------------------*/
/*活动规则*/
.rule_button{
	width:2.186666rem;
	height:1.466666rem;
	position: absolute;
	right: 0.106666rem;
	top:0.133333rem ;
}

/*箭头*/
.arrow_box{
	width:2.333333rem ;
	height:1.866666rem ;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	bottom:.4rem;
}
.begin_game{
	width: 5.386rem;
	height: 1.533rem;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	bottom:.4rem;
}
	.arrow1,.arrow2{
		width:100% ;
		height: 1.2rem;
		position: absolute;
		animation: arrows 2s linear infinite;
		-webkit-animation: arrows 2s linear infinite;
	}
	.arrow1{
		top: 0;
	}
	.arrow2{
		top: 0.8rem;
	}
	@keyframes arrows{
		0% {
		    opacity: 0.2;
		     -webkit-opacity: 0.2;
		    transform: translateY(0.4rem);
		    -webkit-transform: translateY(0.4rem);
		    
		}
		25% {
		    opacity: 0.4;
		     -webkit-opacity: 0.4;
		    transform: translateY(0.2rem);
		    -webkit-transform: translateY(0.2rem);
		}
		50% {
		    opacity: 1;
		     -webkit-opacity: 1;
		    transform: translateY(0);
		    -webkit-transform: translateY(0);
		    
		}
		75% {
		    opacity: 0.4;
		    -webkit-opacity: 0.4;
		    transform: translateY(0.2rem);
		    -webkit-transform: translateY(0.2rem);
		}
		100% {
		    opacity: 0.2;
		     -webkit-opacity: 0.2;
		    transform: translateY(0.4rem);
		    -webkit-transform: translateY(0.4rem);
		}
	}
/*------------------------------------游戏页------------------------------------*/	
/*分数*/
#times{
	position: absolute;
	left: 0.6rem;
	top: 1.333rem;
	font-size: 0.826rem;
	color: #fff;
	font-family: "微软雅黑 Bold";
	 -webkit-text-stroke: 0.026rem #b75b26;
}
/*头像*/
.people_main{
	width:2.5rem ;
	position: absolute;
	right: 0;
	top: 1.333rem;
	font-family: "zk";
	text-align: center;
	color: #fff;
}	
	/*圆*/
	.people_main_round_wrap{
		position: relative;
		width: 2rem;
		height: 2rem;
		box-sizing: border-box;
		border-radius: 50%;
		border: 0.04rem solid #bb887a;
		margin: 0 auto;
	}
	.people_main_round{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		background: #fff;
		box-sizing: border-box;
		border-radius: 50%;
		border: 0.04rem solid #341e0f;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}
	/*字*/
	.people_main p{
		font-size: 0.4rem;
	}
	/*分数*/
	#score{
		font-size: 0.533rem;
	
	}
	
/*倒计时动画*/
.Countdown_wrap{
	width:5.066666rem ;
	height:5.4rem ;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(../img/time_bg.png) no-repeat;
	background-size: 100% 100%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
	.Countdown_wrap div{
		width:1.733333rem;
		height:2.04rem;
		position: absolute;
		left: 50%;
		top: 52%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		display: none;
	}

/*游戏主体*/
#game_main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}		
		/*游戏商品*/
		.goods{
			position: absolute;
			cursor: pointer;
		}
		.goods img{
			width: 120%;
			height: 120%;
		}
		.scoreMove{
			width: 1.573rem;
			height: 0.8rem;
			position: absolute;
			animation: score 1.3s ease-in-out ;
			-webkit-animation: score 1.3s ease-in-out ;
		}
		.scoreMove img{
			width: 1.573rem;
			height: 0.8rem;
		}
/*----------弹层------------*/
.pop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	z-index: 20;
	max-width: 10rem;
	overflow: hidden;
	display: none;
}
/*大小弹窗*/		
.big_pop,.small_pop{
	width: 7.066rem;
	height: 8.213rem;
	background: url(../img/pop_big.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	
}
.small_pop{
	height: 6.533rem;
	background: url(../img/pop_small.png) no-repeat;
	background-size: 100% 100%;
}
/*箱子*/
.gift_box{
		width: 2.626rem;
		height: 2.733rem;
		position: absolute;
		left: -0.72rem;
		top: -2rem;
}
/*表单按钮*/
.form_button{
			width:5.293rem ;
			height: 1.093rem;
			margin: 0 auto;
			color: #FFFFFF;
			line-height: 1.093rem;
			text-align: center;
			font-size: 0.426rem;
			font-family: "微软雅黑 Blod";
			background: #c55733;
			border-radius: 0.506rem;
}
/*关闭按钮*/
.close2{
		width: 1.28rem;
		height: 1.28rem;
		position: absolute;
		top: -1.5rem;
		right: -0.48rem;
}
		/*活动规则*/
		.rule_pop{
			width: 95%;
			margin: 0 auto;
			height: 100%;
			color: #fff;
			/*transform: scale(0);
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-ms-transform: scale(0);
			transform-origin: 90% .5rem;
			-webkit-transform-origin: 90% .5rem;
			-moz-transform-origin: 90% .5rem;
			-ms-transform-origin: 90% .5rem;
			transition:all .4s linear;
			-webkit-transition:all .4s linear;
			-moz-transition:all .4s linear;
			-ms-transition:all .4s linear;*/
			display: none;
		}
		/*.rule_pop_scale{
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
		}*/	
				.rule_pop .orange{
					color: #ee5512;
				}
				/*选项卡标题部分*/
				.tab_title{
					width: 100%;
					height: 1.866666rem;
					border-bottom: 0.026666rem solid #b3b3b3;
					position: relative;
				}
				/*关闭按钮*/
				.close{
					width:0.826666rem;
					height:0.826666rem;
					position: absolute;
					right:0.213333rem;
					bottom:0.213333rem;
					z-index: 20;
				}
				
				.tab{
					width: 100%;
					height: auto;
					position: absolute;
					left: 0;
					bottom: 0;
				}
				.tab li{
					width: 2.8rem;
					height: 100%;
					float: left;
					text-align: center;
					font-size: 0.4rem;
					position: relative;
					padding-top: .1rem;
					padding-bottom: .4rem;
				}
				/*箭头指向*/
				.tab .arrow{
					width: 2.026666rem;
					height: 0.333333rem;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -1.013333rem;
					display: none;
				}
				.tab li:first-child .arrow{
					display: block;
				}
				/*主体文字部分*/
				.tab_main{
					width: 100%;
					height: auto;
					clear: both;
					max-height:90%;
					overflow: scroll;
				}
				.tab_main li{
					font-size: 0.373333rem;
					letter-spacing: 0.013333rem;
					display: none;
				}
				.tab_main li:first-child{
					display: block;
				}
				.tab_main .tab_box{
					margin-top: 0.466666rem;
				}
				.tab_main .tab_box:last-child{
					padding-bottom: 0.6rem;
				}
				.tab_tip{
					width: 1.933333rem;
					height:0.746666rem ;
					background: #ffffff;
					color: #000;
					text-align: center;
					line-height: .746666rem;
				}
				.tab_main .tab_box p{
					margin-top: 0.266666rem;
					color: #fff;
				}
				/*排行榜*/
				.gift_list{
					width: 90%;
					height: auto;
					margin:  0 auto;
					color: #fff;
					font-size:0.373333rem;
					letter-spacing: 0.026666rem;
					padding: 0.2rem 0;
				}	
					.gift_list .gift_list_main{
						width: 100%;
						height: auto;
					}
					.gift_list_main .gift_list_box{
						height: 1.693333rem;
						border-bottom: 0.026666rem solid #7d7d7d;
						overflow: hidden;
						display: block;
					}
					.gift_list_main .gift_list_title{
						height: auto;
						padding: .2rem 0;
						border-bottom: none;
						overflow: hidden;
					}
					
						.gift_list_main .gift_list_title div{
							width:25%;
							height: 100%;
							float: left;
							text-align: center;
							overflow: hidden;
						}
						.gift_list_main .gift_list_box div{
							width:25%;
							height: 100%;
							float: left;
							text-align: center;
							overflow: hidden;
						}
						/*排名*/
						.gift_list_main .gift_list_box .gift_list_num{
								width: 100%;
								margin-top: .5rem;
								text-align: center;
							}
						/*头像*/
						.gift_list_main .gift_list_box  .gift_list_round{
								width:1.266666rem;
								height: 1.266666rem;
								background: #fff;
								box-sizing: border-box;
								border: 0.026666rem solid #341e0f;
								border-radius: 50%;
								margin: 0 auto;
								float: none;
								margin-top: .2rem;
							}
						/*名称*/	
						.gift_list_main .gift_list_box .gift_list_name{
								width: 100%;
								margin-top: .5rem;
								text-align: center;
						}
						.gift_list_main .gift_list_box .gift_list_score{
								width: 100%;
								margin-top: .5rem;
								text-align: center;
						}
				/*中奖信息*/
				.gift_message{
					width: 90%;
					height: auto;
					margin:  0 auto;
					color: #fff;
					font-size:0.373333rem;
					letter-spacing: 0.026666rem;
					padding: 0.6rem 0;
				}
				.gift_message span{
					width: 33.3%;
					display: block;
					float: left;
					text-align: left;
				}
				.gift_message div {
					font-weight: bold;
					overflow: hidden;
				}
				.gift_message p{
					margin-top: 0.32rem;
					overflow: hidden;
				}
				.gift_message p span{
					width: 33.3%;
					text-align: left;
					margin-top: 0.32rem;
					overflow: hidden;
					overflow: hidden;
				}
				.gift_message p .tab_tip{
					text-align: center;
					margin-top: .1rem;
				}
				

/*--------------------游戏结束抽奖页面--------------------*/
.game_over_pop{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}	
	/*头像*/
	.game_over_pop .people_main_round_wrap{
		width: 2.8rem;
		height: 2.8rem;
		margin: 1.066rem auto;
	}
	/*文字*/
	.game_over_pop_text{
		text-align: center;
		color: #fff;
		font-size: 0.44rem;
		letter-spacing: 0.013rem;
	}
	/*本次成绩*/
	.now_score_num{
		font-size: 0.533rem;
		margin-bottom: .1rem;
	}
	/*抽奖机会*/
	.chance_num{
		margin: 1.12rem auto 0.533rem auto;
	}
	/*很遗憾*/
	.no_score_num{
		margin: 1.12rem auto 0.533rem auto;
	}
	/*抽奖*/
	.game_over_pop_button{
		width: 6rem;
		height: auto;
		margin: 0 auto;
		color: #fff;
		overflow: hidden;
	}	
		.game_over_pop_button div{
			height: 1.2rem;
			border-radius: 0.506rem;
			background: #c55733;
			line-height: 1.2rem;
			font-size: 0.48rem;
			text-align: center;
			
		}
		/*立即抽奖*/
		#now_button{
			width: 100%;
			font-family: "微软雅黑 Bold";
			margin-bottom: .2rem;
		}
		#ranking_button,#gain_button{
			width: 2.8rem;
		}
	/*文字底部*/
	.game_over_pop_text_bottom{
		padding:  0 .2rem; 
		clear: both;
		margin-top:1.2rem ;
		font-size: 0.346rem;
	}
		.game_over_pop_text_bottom p:first-child{
			text-decoration: underline;
		}
/*--------------------游戏结束未到600分--------------------*/
.game_no_score_pop{
	display: none;
	
}
		#gain_button2{
			width: 100%;
			font-family: "微软雅黑 Bold";
			margin-bottom: .2rem;
		}
		
/*--------------------摇一摇抽奖页面--------------------*/
.shake_pop{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}		
		/*抽奖箱子*/
		.shake_pop_box{
			width:6.973rem ;
			height: 7.733rem;
			margin: 0 auto;
			margin-top: 2.133rem;
		}
		.shake_pop p{
				text-align: center;
				margin-top: .2rem;
				color: #fff;
				font-size: 0.426rem;
		}
/*--------------------很遗憾未中奖--------------------*/	
.no_gift_pop{
	display: none;
}
		/*标题*/
		.no_gift_pop_title{
			margin-top: 0.853rem;
			position: relative;
			font-size: 1.093rem;
			text-align: center;
			color: #ee5512;
			font-family: "zk";
		}
		.no_gift_pop_title h3{
			font-weight: normal;
			font-size: .9rem;
		}
		.have_chance,.no_chance{
			display: none;
		}
		.have_chance{
			display: block;
		}
		#chance_num{
			color: #341e0f;
		}
		/*眼泪*/
		.eye{
			width:2.373rem;
			height:1.706rem;
			position: absolute;
			right: -.8rem;
			top: .1rem;
		}
		.no_gift_pop_title p{
			font-size: 0.586rem;
			margin-top: .2rem;
		}
		/*手掌*/
		.hand{
			width:2.586rem;
			height:2.16rem;
			position: absolute;
			left: 2.533rem;
			bottom:1.2rem;
		}
/*--------------------很遗憾未中奖其他情况--------------------*/			
.no_gift_other_pop{
	display: none;
}		.other_msg{
			width: 90%;
			margin: 0 auto;
			}
/*--------------------获得奖品页面--------------------*/		
.get_gift_pop{
	display: none;		
}		
		
	/*标题*/
	.get_gift_pop_title{
		width: 90%;
		margin: 0 auto;
		position: relative;
		margin-top: 0.853rem;
		text-align: center;
		color: #ee5512;
		font-family: "zk";
	}	
		/*手掌*/
		.hands2{
			width:1.16rem;
			height:1.16rem;
			position: absolute;
			right: .2rem;
			top: 0;
		}
		/*标题*/
		.get_gift_pop_title h3{
			font-size: 1.093rem;
		}
		.get_gift_pop_title p{
			font-size: 0.533rem;
		}
		/*商品图片*/
		#gift_picture{
			width:4.293rem;
			height:3.28rem;
			margin: 0 auto;
		}
		/*立即领奖*/
		#now_get_gift{
			
		}

/*--------------------奖品填写页面--------------------*/	
/*第一个表单页面*/
.gift_form_pop{
	display: none;
}
		form{
			width:5.36rem;
			height: auto;
			margin:0 auto;
			margin-top: 1.2rem;
			font-family: "zk";
			
		}
		.form_box{
			width: 100%;
			height: 0.666rem;
			margin-bottom: 0.2rem;
			border-bottom: 0.053rem solid #341e0f;
			line-height: 0.72rem;
			
		}
		.form_box input{
			width: 3.733rem;
			height: 100%;
			float: right;
			color: #341e0f;
			font-size: 0.4rem;
			text-align: left;
			border: none;
			font-weight: bold;
		}
		.form_box label{
			font-size: 0.453rem;
			color: #ee5512;
		}
		.form_box span{
			height: 100%;
			color: #d3431e;
			font-size: 0.48rem;
			text-align: center;
			line-height: 0.826666rem;
			float: left;
		}
		/*表单文字*/
		.form_text{
			width:6rem;
			height: auto;
			margin: 0 auto;
			text-align: center;
			font-size: 0.293rem;
			color: #000;
			line-height: 0.533rem;
		}
		.form_text a{
			color: #f9131d;
			text-decoration: underline;
		}

		/*提交按钮*/
		#submit,#submit2{
			margin-top: .2rem;
		}
		/*提示信息*/
		.erro_mesg{
			margin-top: .2rem;
			text-align: center;
			font-size: 0.32rem;
			color: #c55733;
		}
/*--------------------第二个手机号表单页面--------------------*/
.gift_form_pop2{
	display: none;
}
	.gift_form_pop2 form{
		margin: 1.5rem auto 1rem auto;
	}

/*--------------------成功填写信息--------------------*/	
.form_success_pop{
	display: none;
	font-family: "zk";
}
	
	/*标题*/
	.form_success_pop_title{
		text-align: center;
		font-size: 0.533rem;
		color: #ee5512;
		margin-top: 1.253rem;
	}
	/*表单已填写*/
	.form_success_pop form{
		font-size: 0.4rem;
		color: #341e0f;
		margin-top: 0;
	}
	.form_success_pop form div{
		overflow: hidden;
		margin-top: 0.4rem;
	}
	.form_success_pop form span{
		font-size: 0.453rem;

	}
	.form_success_pop form p{
		max-height: 2rem;
		overflow: scroll;
	}

/*--------------------请关注二维码页面--------------------*/	
.code_pop{
	display: none;
}
	.code_pop .get_gift_pop_title{
		margin-top: 2rem;
	}
/*--------------------分享成功--------------------*/		
.share_success_pop{
	display: none;
	
}	
	.share_success_pop .get_gift_pop_title{
		margin-top: 2rem;
	}