.warp{
	width:10rem;
	margin:  0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	max-height: 9999999px;
	display: none;
}
#loading{
	width: 0.72rem;
	height: 0.826666rem;
	display: block;
	margin: 150px auto;
}
.warp img{
	width: 100%;
	height: 100%;
}
/*背景*/
.form_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
}



/*弹窗*/
.pop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 9;
	/*display: none;*/
}

/*活动规则*/
.form_box_main{
	width:9.573333rem;
	height: 13.2rem;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*display: none;*/
}
.form_main_bg{
	position: absolute;
}

/*表单*/
.fomr_main{
	width:8.133333rem ;
	height: auto;
	position: absolute;
	top: 3rem;
	left: 45%;
	transform: translateX(-50%);
}
/*表单box*/
.fomr_box{
	width: 100%;
	height: 1.013333rem;
	line-height: 1.013333rem;
	margin-bottom: 0.3rem;
}
.fomr_box .lable{
	width: 1.08rem;
	height: 0.586666rem;
	vertical-align: middle;
	margin-left: 1rem;
}

.fomr_box .lables{
	width: 1.56rem;
	height: 0.586666rem;
	vertical-align: middle;
	margin-left: .5rem;
}
.fomr_box input{
	width:5.866666rem ;
	height:100% ;
	box-sizing: border-box;
	border-radius:0.266666rem;
	border: 0.053333rem solid #2e2e2e;
	float: right;
	text-align: center;
	color: #000;
	font-size: 0.48rem;
	font-family:"微软雅黑";
}
.fomr_box textarea{
	width:5.866666rem ;
	height:1.92rem;
	box-sizing: border-box;
	border-radius:0.266666rem;
	border: 0.053333rem solid #2e2e2e;
	float: right;
	text-align: center;
	color: #000;
	font-size: 0.48rem;
	font-family:"微软雅黑";
}
/*温馨提示*/
.form_message{
	width:6.866666rem;
	text-align:center;
	margin:0 auto;
	margin-left: 1.5rem;
	clear: both;
	
}
body .form_message img{
	width:100%;
	height:auto;

	
}
/*错误成功信息提示*/
.erro_mesg{
	width: 100%;
	height: 0.32rem;
	text-align: center;
	color: red;
	font-size: 0.4rem;
	clear: both;
	padding-left: .9rem;
	margin-top: .5rem;
}
/*提交按钮*/
.sure{
	width:3.146666rem ;
	height:1.6rem ;
	margin: .2rem 0 0 3.5rem;
}

/*身份证box*/
.card_box{
	display: none;
}
