
body,html{
	background: #f6f6f6;
	font-family: "微软雅黑";
}
.wrap{
	height:100%;
	background: url(../img/index_bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	position: relative;
}
		.wrap img{
			width: 100%;
			height: 100%;
		}

/*活动规则*/
.rule_button{
	width:2.186666rem;
	height:1.466666rem;
	position: absolute;
	right: 0.106666rem;
	top:0.133333rem ;
}


/*标题*/
.title_warp{
	width: 10rem;
	height:7.066666rem;
	position: relative;
	margin: 0 auto;
	margin-top: 1.973333rem;
	background: url(../img/title_bg.png) no-repeat;
	background-size: 100% 100%;
	z-index: 9;
	font-family: "zk";
}	

		/*标题 承仔小余*/
		.title_boy,.title_gift{
			width: 1.733333rem;
			height:2.4rem;
			position: absolute;
			overflow: hidden;
		}
		.title_boy{
			left: 0.55rem;
			top: 1rem;
			transform: rotateZ(-20deg);
			-webkit-transform: rotateZ(-20deg);
			-moz-transform: rotateZ(-20deg);
			-ms-transform: rotateZ(-20deg);
			-o-transform: rotateZ(-20deg);
			
		}
		.title_gift{
			left: 5.45rem;
			top: -0.48rem;
			transform: rotateZ(10deg);
			-webkit-transform: rotateZ(10deg);
			-moz-transform: rotateZ(10deg);
			-ms-transform: rotateZ(10deg);
			-o-transform: rotateZ(10deg);
			
		}
		.title_gift img,.title_boy img{
			position: absolute;
			top: 100%;
			left: 0;
			transition: top .5s linear;
			-webkit-transition: top .5s linear;
			-moz-transition: top .5s linear;
			-ms-transition: top .5s linear;
			-o-transition: top .5s linear;
		}
		.title_boy img{
			transition-delay: .2s;
			-webkit-transition-delay: .2s;
			-moz-transition-delay: .2s;
			-ms-transition-delay: .2s;
			-o-transition-delay: .2s;
		}
		
		/*标题文字*/
		.title_text{
			width:7.733333rem ;
			height: 4.266666rem;
			position: absolute;
			left: 50%;
			top:0.533333rem;
			margin-left: -3.866666rem;
			z-index: 10;
		}
		.tada{
			animation-name:tada;
			animation-duration:1s;
			animation-fill-mode:both;
			
			-webkit-animation-name:tada;
			-webkit-animation-duration:1s;
			-webkit-animation-fill-mode:both;
			
			-ms-animation-name:tada;
			-ms-animation-duration:1s;
			-ms-animation-fill-mode:both;
			
			-moz-animation-name:tada;
			-moz-animation-duration:1s;
			-moz-animation-fill-mode:both;
			
		}
		@keyframes tada{
						0% {
						    -webkit-transform: scale3d(1,1,1);
						    -ms-transform: scale3d(1,1,1);
						    -moz-transform: scale3d(1,1,1);
						    transform: scale3d(1,1,1);
						}10%, 20% {
						    -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
						    -ms-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
						     -moz-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
						    transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
						}
						30%, 50%, 70%, 90% {
						    -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
						    -ms-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
						    -moz-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
						    transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
						}
						40%, 60%, 80% {
						    -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
						    -ms-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
						    -moz-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
						    transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
						}
						100% {
						    -webkit-transform: scale3d(1,1,1);
						    -ms-transform: scale3d(1,1,1);
						     -moz-transform: scale3d(1,1,1);
						    transform: scale3d(1,1,1);
						}

					}	
/*骰子*/		
.index_dice{
	width:2.773333rem;
	height: 2.906666rem;
	background: url(../img/index_dice.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	top:7.466666rem;
	
	animation: index_dice 1s ease-in infinite alternate;
	-webkit-animation: index_dice 1s ease-in infinite alternate;
	-moz-animation: index_dice 1s ease-in infinite alternate;
	-ms-animation:index_dice 1s ease-in infinite alternate;
	-o-animation:index_dice 1s ease-in infinite alternate;
	z-index: 8;
}
		
		/*骰子定位*/	
		.index_dice1{
			background-position:-0px -0px; 
		}
		.index_dice2{
			background-position:-0px -3.44rem;
		}
		.index_dice3{
			background-position:-0px -6.786666rem;
		}
		.index_dice4{
			background-position:-0px -10.266666rem;
		}
		.index_dice5{
			background-position:-0px -13.733333rem;
		}
		.index_dice6{
			background-position:-0px -17.146666rem;
		}
		
		/*骰子动画*/
		@keyframes index_dice{
			0%{
				top:7.466666rem;
			}
			100%{
				top: 8.933333rem;
			}
		}
		@-webkit-keyframes index_dice{
			0%{
				top:7.466666rem;
			}
			100%{
				top: 8.933333rem;
			}
		}
		@-moz-keyframes index_dice{
			0%{
				top:7.466666rem;
			}
			100%{
				top: 8.933333rem;
			}
		}
		@-ms-keyframes index_dice{
			0%{
				top:7.466666rem;
			}
			100%{
				top: 8.933333rem;
			}
		}
		
/*底盘*/		
.disc{
	width:4.493333rem ;
	height:0.666666rem ;
	position: absolute;
	left: 50%;
	top:11.2rem ;
}
/*进入游戏*/
.game_begin{
	width:3.2rem;
	height: 2.72rem;
	position: absolute;
	left: 50%;
	bottom: 0.7333rem;
}
.index_dice,.disc,.game_begin{
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
/*树子*/
.tree{
	width:2.266666rem;
	height: 7.24rem;
	position: absolute;
	left:0%;
	bottom: 0.65rem;
}
/*花*/
.flower{
	width:1.253333rem;
	height:1.826666rem;
	position: absolute;
	right:0%;
	bottom: 0.7333rem;
}
/*滚动信息*/
#scorll_wrap{
	width: 100%;
	height: 0.733333rem;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0.373333rem;
	color: #303434;
	line-height:  0.733333rem;
	overflow: hidden;
	background: transparent;
	border-image: url(../img/land.png) 5 5 round;
	border-top: 0.066666rem solid transparent;
	z-index: 7;
}

		/*滚动主体*/
		#scorll_main,#scorll_main ul,#scorll_main ul li{
			width: auto;
			float: left;
			height: 100%;
		}
		#scorll_main i{
			font-style: normal;
			padding-left: 1rem;
			display: inline-block;
		}
		
		#scorll_main ul li{
			margin-right: 1.333333rem;
			white-space:nowrap;/*让文本强制一行显示*/
		}
		/*设置padding 让滚动从右方进入*/
		#dom1 li:first-child{
			padding-left: 10rem;
		}
/*----------弹层------------*/
.pop{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	z-index: 20;
	display: none;
}		
		/*活动规则*/
		.rule_pop{
			width: 95%;
			margin: 0 auto;
			height: 100%;
			color: #fff;
			/*transform: scale(0);
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-ms-transform: scale(0);
			transform-origin: 90% .5rem;
			-webkit-transform-origin: 90% .5rem;
			-moz-transform-origin: 90% .5rem;
			-ms-transform-origin: 90% .5rem;
			transition:all .4s linear;
			-webkit-transition:all .4s linear;
			-moz-transition:all .4s linear;
			-ms-transition:all .4s linear;*/
			display: none;
			
		}
		.rule_pop_scale{
			/*transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);*/
			display: block;
		}
				/*选项卡标题部分*/
				.tab_title{
					width: 100%;
					height: 1.866666rem;
					border-bottom: 0.026666rem solid #b3b3b3;
					position: relative;
				}
				/*关闭按钮*/
				.close{
					width:0.826666rem;
					height:0.826666rem;
					position: absolute;
					right:0.213333rem;
					bottom:0.213333rem;
					z-index: 20;
				}
				
				.tab{
					width: 100%;
					height: auto;
					position: absolute;
					left: 0;
					bottom: 0;
				}
				.tab li{
					width: 2.8rem;
					height: 100%;
					float: left;
					text-align: center;
					font-size: 0.4rem;
					position: relative;
					padding-top: .1rem;
					padding-bottom: .4rem;
				}
				/*箭头指向*/
				.tab .arrow{
					width: 2.026666rem;
					height: 0.333333rem;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -1.013333rem;
					display: none;
				}
				.tab li:first-child .arrow{
					display: block;
				}
				/*主体文字部分*/
				.tab_main{
					width: 100%;
					height: auto;
					clear: both;
					max-height:90%;
					overflow: scroll;
				}
				.tab_main li{
					font-size: 0.373333rem;
					letter-spacing: 0.013333rem;
					display: none;
				}
				.tab_main li:first-child{
					display: block;
				}
				.tab_main .tab_box{
					margin-top: 0.466666rem;
				}
				.tab_main .tab_box:last-child{
					padding-bottom: 0.6rem;
				}
				.tab_main .tab_box .tab_tip{
					width: 1.933333rem;
					height:0.746666rem ;
					background: #ffffff;
					color: #000;
					text-align: center;
					line-height: .746666rem;
				}
				.tab_main .tab_box p{
					margin-top: 0.266666rem;
					color: #fff;
				}
				/*中奖信息*/
				.gift_message{
					width: 90%;
					height: auto;
					margin:  0 auto;
					color: #fff;
					font-size:0.373333rem;
					letter-spacing: 0.026666rem;
					padding: 0.6rem 0;
				}
				.gift_message .le,.gift_message .ri{
					width: 65%;
					display: block;
					float: left;
					text-align: left;
				}
				.gift_message .ri{
					width: 35%;
				}
				.gift_message div {
					font-weight: bold;
					overflow: hidden;
				}
				.gift_message p{
					margin-top: 0.32rem;
					overflow: hidden;
				}
